<form action="/login" method="post">  
  <% if(wrong_password) %>
    <p>Wrong login or password</p>  
  <% end %>
  <p>
  	<label>Login: <input type="text" name="name"></label>
  </p>
  <p>
  	<label>Password: <input type="password" name="password"></label>
  </p>
  <p>
  <label>
  	Login:
  	<input type="radio" value="login" name="action">
  </label>
  </p>
  <p>
  <label>
  	Sign up:
  	<input type="radio" value="signup" name="action">
  </label>
  </p>
  <input type="submit" name="login" value="Go">
</form>