<div>
	<% userVisits.each do |visit| %>
		<div style="border-bottom: 1px solid #ccc">
			<p>id: <%= visit.id %></p>
			<p>user id: <%= visit.user_id %></p>
			<p>id: <%= visit.date %></p>
		</div>
	<% end %>
</div>